footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #181515;
    padding: 10px;
    text-align: center;
  }


h3{
  color:aliceblue
}

.services{
  margin-right: 50%;
}




.footerContainer {
  display: flex;
  justify-content: space-between; 
  margin: 0 auto; 
}

/* Установка ширины для каждого элемента */
.footerContainer > div {
  width: 33%; /* Занимает 33% ширины контейнера */
  text-align: center; /* Центрирует текст внутри элементов (по вашему желанию) */
}
